.institute{
    padding-top: 80px;
    @mixin heading_counter {
        font-size: 45px;
        font-weight: 600;
        color: #1D1D1D;
    }
    .institute_image{
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .institute_text{
        padding-left: 50px;
        h1{
            @include heading_counter;
            max-width: 75%;
        }
        .intstitute_p1,.intstitute_p2{
            max-width: 82%;
            color: #777777;
        }
        .institute_counter{
            display: flex;
            padding-top: 40px;
            h3{
                @include heading_counter;
            }
            h6{
                color: #777777;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}