.register{
    h3{
        font-size: 45px;
        font-weight: 600;
        color: #ffff;
    }
    h6{
        color: #f4f4f4;
        padding-top: 20px;
    }
    .register_btn{
        font-size: 20px;
        font-weight: 600;
        background: #ffff;
        color: #289BDE;
        padding: 10px 25px;
    }
}